* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/body.gif);
    background-repeat: repeat;
    background-color: #7f7f7f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.menu {
    background-image: url(../img/pitch.jpg);
    background-color: #131313;
    height: 288px;
    background-repeat: no-repeat;
    width: 944px;

}
.menu a {
    color: #c5c3c3;
    text-decoration-line: none;

}
.menu a:hover {
    color: #6aa602;
}

.fa-plus {
    font-size: 100px;
    color: #faf2f2;
    background-color: #525454;
    border-radius: 15px;
}

.gallerieImage {

    margin: 4px;
}

.gallerieImage:hover {
    cursor: pointer;

    border: solid 8px #424141;
}

.messagerie {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message {
    background-color: #000000;
    border: 5px solid #6aa602;
    color: #ded3d3;
    padding: 30px;
    margin: 10px;
    font-size: 1.2em;
    width: 70%;
    word-break: break-word;
    white-space: normal;

}


.coordonner a {
    text-decoration-line: none;
    color: #ded3d3;
    font-size: 1.2em;
    background-color: #000000;
    border: 2px solid #c9c9c9;
    padding: 15px;
    margin: 10px;
}

.coordonner a:hover {
    color: #6aa602;
}

.coordonnerData {
    color: #7f7f7f;
    text-decoration-line: none;
}

.expediteur {
    width: 30%;
    float: start;
    border: 5px solid #6aa602;
    background-color: #000000;
}

.alert-error {
    width: 40%;
    background-color: #f84f4f;
    color: #c5c3c3;
    text-align: center;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}
