* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/body.gif);
    background-repeat: repeat;
    background-color: #7f7f7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #faf2f2;
    font: 0.74em Tahoma, Verdana, Sans-Serif, Arial;
}

h1 {
    font: normal 3.4em "Trebuchet MS", Helvetica, Arial;
    color: #b6d434;
}

h2 {
    font: normal 1.8em "Trebuchet MS", Helvetica, Arial;
    color: #b6d434;
    margin: 0 0 15px;
}

h3 {
    font: normal 1.4em "Trebuchet MS", Helvetica, Arial;
    margin: 0 0 20px;
}

h4 {
    font: normal 1.2em "Trebuchet MS", Helvetica, Arial;
    color: #b6d434;
    margin: 0 0 4px;
}

.logo {
    float: left;
    padding: 30px 15px;
}

.pitch {
    background-image: url(../img/pitch.jpg);
    background-repeat: no-repeat;
    width: 944px;
    height: 243px;
    padding: 60px 360px 0 30px;

}

.fontPitch {
    width: 944px;
    background-color: #000000;
    padding: 20px;
}

.menu {
    width: 944px;
    height: 44px;
    margin: 40px 0 0 4px;
    background-color: #000000;
}

.menu a {
    color: #c5c3c3;
    text-decoration-line: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    float: left;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu a:hover {
    color: #6aa602;
}

.fa-plus {
    font-size: 100px;
    color: #faf2f2;
    background-color: #525454;
    border-radius: 15px;
}

.fa-arrows-rotate {
    width: 20px;
}

form {
    user-input: 40px;
}

.gallerie {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.gallerieImage {
    max-width: 720px;
    max-height: 900px;
    margin: 10px;
}

.gallerieImage:hover {
    cursor: pointer;
    border: solid 8px #ffffff;
}

.addPicture {
    text-align: center;
    width: 15%;
    border: solid #74f300 3px;
    border-radius: 15px;
    padding: 5px;
    margin: 30px;
}

.messagerie {
    min-width: 60%;
    border: 5px solid #6aa602;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 15px;
    padding: 10px;
}

.message {
    background-color: #000000;
    color: #ded3d3;
    padding: 30px;
    font-size: 1.2em;
    width: 60%;
    word-break: break-word;
    white-space: normal;
}

.coordonner a {
    text-decoration-line: none;
    color: #ded3d3;
    font-size: 1.2em;
    margin: 10px;
    border-bottom: #faf2f2 solid 1px;
}

.coordonner a:hover {
    color: #6aa602;
}

.coordonnerData {
    color: #7f7f7f;
    text-decoration-line: none;
}

.expediteur {
    width: 40%;
    float: start;
    background-color: #000000;
}

.alert-error {
    width: 40%;
    background-color: #f84f4f;
    color: #c5c3c3;
    text-align: center;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}

.alert-succes {
    width: 40%;
    background-color: #008522;
    color: #c5c3c3;
    text-align: center;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}

h1, h2, h3, label {
    color: #6aa602;
}

a {
    text-decoration-line: none;
    color: #c5c3c3;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
}
td {
    display: table-cell;
    vertical-align: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
    padding: 20px 20px 10px;
    font-size: 0.9em;

}

.footer p {
    color: #7f7f7f;
}

input[type=submit] {
    cursor: pointer;
}





